footer#contacts(name='contacts')
    .container
        div
            h1 Contacts
        nav.flex.items-centre.justify-between
            .left.flex.justify-left
                a(href='mailto:alizhassan199@gmail.com?subject=Contact%20Ali%20Hassan&body=Hello' target='_blank') Email
                .icons
                    a(href='https://linktr.ee/rydalizhassan' target='_blank')
                        img(src='../img/linktree.png')
                    a(href='https://www.linkedin.com/in/ali-hassan-19592819a/' target='_blank')
                        img(src='../img/linkedin.png')
                    a(href='https://rydalisdarx.itch.io' target='_blank')
                        img(src='../img/itchio.png')
            div
                a(href="../img/HASSAN_ALI_Resume2.pdf" download)
                    button.btn.btn-secondary DOWNLOAD CV
        .topper.justify-right(style='text-align: right;')
            a(href='#home')  Back to top 