doctype html
html
    head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      meta(name='referer' content='always')
      link(rel='stylesheet' href='../styles.css')
      title Ali's Portfolio - OOF Sleep Application Prototype
    body
        header#home(name='home')
          .container
            nav.flex.items-centre.justify-between
              .left.flex.justify-right
                .logo
                  img(src='../img/OOF/OOF_logo.JPG' alt='OOF logo')
                div
                  a(href='../index.html') Back
              .right
                a(href='#contacts')
                  button.btn.btn-primary Contact
            .hero.flex.items-centre.justify-between
              .left.flex-1.justify-center
                img(src='../img/OOF/OOF_hero_image.JPG' alt='OOF Landing Page')
              .right.flex-1
                h6
                  i O.O.F Sleep Application 
                h5
                  | Problem Statement: How do we help encourage young working Americans to improve their sleeping habits and counteract sleep deprivation?
                p(style='padding-top:1rem')
                  | Many students out of college find it difficult to adapt to their
                  | working life. I joined the O.O.F team to look into the causes of their sleep deprivation and
                  | conduct user interviews and evaluations in this case study on sleep. Follow along the process of how
                  | I made a prototype to instill good sleeping habits into youth.
        section#info.info(name='info')
          .container.flex.items-centre
            .left.flex-1
              h1
                | Competitive 
                span Analysis
              p.right-margin
                | First, I needed to see what I was up against, since sleep applications are very common on the
                | app store. I decided to look at dedicated sleep apps and apps that integrate sleep functionality.
              p.right-margin
                | From my analysis, I figured that most of them servicable to what people are looking for:
                | a place to see their sleeping logs. However, a good amount of them are the same with little to no
                | variation in function, just differences in UI. For the app, I needed to make something different, but
                | not too different, so it can pull as many people to the app.
            .right.flex-1.justify-center
              img.content-large.imgfloat-right(src='../img/OOF/OOF_CompetitiveAnalysis.JPG' alt='Comparive Analysis Chart')
        section#info.info(name='info')
          .container.flex.items-centre
            .left.flex-1.justify-center
              img.content-small.imgfloat-left(src='../img/OOF/OOF_storyboard.JPG' alt='Storyboard featuring figure sleeping at different times')
            .right.flex-1
              h1.left-margin
                | Interview and Research 
                span Storyboard
              p.left-margin
                | I needed some more information, I knew what to make different, but now
                | I need to know what to add. There are many things to add to the app, though in the end the user
                | would know what they wanted, so I asked a good lot of them.
              p.left-margin
                | Based off the interviews, I was able to discern something to target:
                | shift work and sporadic sleeping because of an ever changing schedule. 
              p.left-margin
                i
                  | "I had to wake up 2 hours earlier just to get to the site on time... I always get home tired." -Interviewee #9
              p.left-margin
                | This is similar to the first weeks of a new college term, so targetting this aspect of a person&apos;s
                | schedule is definitely something many people would like aid for. And so, my aim became to support
                | a tumultous lifestyle of work.
              p.left-margin
                | Along with the interview, I also conducted some more research into sleep and how it works scienfically,
                | specifically trying to find things that deter people from sleeping a lot. Since I was making an app, one
                | peice of information caught my eye.
              p.left-margin
                i
                  | "The most recent available data suggests that nearly 83% of college students use their cell phones
                  | within 1h of going to bed, and around 66% check cell phone notifications before getting out of bed
                  | in the morning."
                sup 1
              p.left-margin
                | Making a phone app meant I needed to account for people's phone usage as well, and how that has a
                | negative impact on sleep. This is where a lot of my prototyping started.
        section#info.info(name='info')
          .container.flex.items-centre
            .left.flex-1
              h1
                | Mid and High Fidelity 
                span Prototypes
              p.right-margin
                | Lastly was the prototyping, where I made a mid fidelity prototype highlighting some of the desired
                | features in the app, where we can control what people can do on their phones to dissuade harmful habits.
                | This is where the app lock and override password comes into play, to stop usage, but not forbit it in an
                | emergency.
              p.right-margin
                | The high fidelity prototype is when I started to apply some of the Gestalt Principles and section off
                | parts of my mid fidelity prototype into their own sections with all the apps together to make it clear
                | what apps are targetted by the app lock. This also included some touch-ups and condensing, like how an
                | Allow list is redundant or how Notification Muting should be placed elsewhere for clarity.
              p.right-margin
                | This application has a lot of extra functionality, such as making a schedule to sleep, and recommendations
                | for people who want to sleep better. In the end, I feel that the app has enough to help young greenhorn workers
                | get into the working lifecycle, and break those bad habits.
            .right.flex-1.justify-center
              img.content-medium.imgfloat-right(src='../img/OOF/OOF_HiFiPrototype.JPG' alt='High Fidelity Prototype')
              img.content-medium.imgfloat-right(src='../img/OOF/OOF_MiFiPrototype.JPG' alt='Mid Fidelity Prototype')
          .container.flex.items-centre
            iframe.justify-center(style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FOeekpwBpr1yD4d9BNEQTwN%2F%255BINF-132%255D-O.O.F-App-Design%3Ftype%3Ddesign%26node-id%3D56795%253A25394%26mode%3Ddesign%26t%3DHHjhHJeIuARn0YNX-1" allowfullscreen)
        div
            .container
                div(style='margin-bottom: 1rem;')
                    h1
                        | Footnotes
                    p
                        sup 1
                        | Joshi, S. C., Woodward, J., & Woltering, S. (2021). Nighttime cell phone use and 
                        | sleep quality in young adults. Sleep and biological rhythms, 20(1), 97-106. 
                        a(href='https://doi.org/10.1007/s41105-021-00345-6') https://doi.org/10.1007/s41105-021-00345-6 
        include ./includes/footer.pug